<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="patieMapper">
	<resultMap id="patie" type="com.green.team3_app.patie.vo.PatieVO">
        <id column="PATIE_NUM" property="patieNum"/>
        <result column="PATIE_NAME" property="patieName"/>
        <result column="PATIE_TEL" property="patieTel"/>
        <result column="PATIE_BIRTH" property="patieBirth"/>
        <result column="PATIE_ADDR" property="patieAddr"/>
        <result column="PATIE_GEN" property="patieGen"/>
        <result column="PERSONAL_YN " property="personalYN"/>
<!--        <association property="member" resultMap="member" />-->
    </resultMap>

    <resultMap id="member" type="com.green.team3_app.patie.vo.MemberVO">
        <result column="MEM_ID" property="memId"/>
        <result column="MEM_PW" property="memPw"/>
        <result column="MEM_BIRTH" property="memBirth" />
    </resultMap>

    <!--다음에 들어갈 환자번호 조회-->
    <select id="getNextPatieNum" resultType="int">
        SELECT IFNULL(MAX(PATIE_NUM), 0) + 1
        FROM HOS_PATIE
    </select>

    <!--초진 환자 등록-->
    <insert id="insertPatie">
        INSERT INTO HOS_PATIE(PATIE_NUM, PATIE_NAME, PATIE_TEL, PATIE_BIRTH, PATIE_ADDR, PATIE_GEN)
        VALUES(#{patieNum}, #{patieName}, #{patieTel}, #{patieBirth}, #{patieAddr}, #{patieGen});
    </insert>


    <!--재진 환자 찾기-->
    <select id="findRePatie" resultMap="patie">
        SELECT PATIE_BIRTH, PATIE_NUM, PATIE_NAME
        FROM HOS_PATIE
        WHERE PATIE_BIRTH = #{patieBirth}
        AND PATIE_NAME = #{patieName};
    </select>

    <!-- 로그인 -->
    <select id="login" resultMap="member">
        SELECT MEM_NUM, MEM_NAME, MEM_BIRTH, MEM_ID
        FROM hos_member, hos_patie
        WHERE MEM_ID=#{memId}
        AND MEM_PW=#{memPw}
        AND MEM_BIRTH = PATIE_BIRTH;
    </select>



</mapper>































